<?xml version='1.0' encoding='UTF-8'?>
<!--
  ~ Copyright (c) 2018. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  ~ Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
  ~ Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
  ~ Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
  ~ Vestibulum commodo. Ut rhoncus gravida arcu.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!--扫描组件-->
	<context:component-scan base-package="com.ssm">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>

	<!--国际化-->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="messages"/>
	</bean>

	<!--自定义bean-->
	<bean id="HelloWorld" class="com.ssm.entity.HelloWorld" autowire="constructor" depends-on="date">
		<!--<constructor-arg name="msg" value="HelloWorld1" />-->
		<property name="msg" value="HelloWorld2"/>
		<property name="date" ref="date"/>
		<property name="list">
			<list>
				<value>1</value>
				<value>1</value>
				<value>1</value>
				<value>1</value>
			</list>
		</property>
		<property name="set">
			<set>
				<value>a1</value>
				<value>a2</value>
				<value>a3</value>
				<value>a4</value>
			</set>
		</property>
		<property name="map">
			<map>
				<entry key="b1" value="test"/>
				<entry key="b2" value="test"/>
				<entry key="b3" value="test"/>
				<entry key="b4" value="test"/>
			</map>
		</property>
		<property name="properties">
			<props>
				<prop key="c1">test</prop>
				<prop key="c2">test</prop>
				<prop key="c3">test</prop>
				<prop key="c4">test</prop>
			</props>
		</property>
	</bean>
	<bean id="date" name="date" class="java.util.Date"/>

	<!--注： 事件传递-->
	<!--<bean id="log" class="com.ssm.action.Log"/>-->
	<bean id="listener" class="com.ssm.action.LogListener"/>

	<!--静态切入点-->
	<!--<bean id="settersAndAbsquatulatePointCut" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">-->
		<!--<property name="patterns">-->
			<!--<list>-->
				<!--<value>.*set.*</value>-->
				<!--<value>.*get.*</value>-->
			<!--</list>-->
		<!--</property>-->
	<!--</bean>-->

	<!--around-->
	<bean id="log" class="com.ssm.action.LogAround"/>
	<bean id="timeBook" class="com.ssm.action.TimeBook"/>
	<!--<bean id="logProxy1" class="org.springframework.aop.framework.ProxyFactoryBean">-->
		<!--<property name="proxyTargetClass" value="true"/>-->
		<!--<property name="target" ref="timeBook"/>-->
		<!--<property name="interceptorNames" value="log"/>-->
	<!--</bean>-->

	<!--自动代理-->
	<bean id="autoProxy" class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

	<!--proxy factory bean-->
	<bean id="logBeforeAfter" class="com.ssm.action.LogBeforeAfter"/>
	<!--<bean id="timeBook" class="com.ssm.action.TimeBook"/>-->
	<bean id="logAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice">
			<ref bean="logBeforeAfter"/>
		</property>
		<property name="patterns">
			<list>
				<value>.*do.*</value>
			</list>
		</property>
	</bean>
	<!--代理类-->
	<!--<bean id="logProxy2" class="org.springframework.aop.framework.ProxyFactoryBean">-->
		<!--<property name="proxyTargetClass" value="true"/>-->
		<!--<property name="proxyInterfaces" value="com.ssm.impl.TimeBookInterface" />-->
		<!--<property name="target">-->
			<!--<ref bean="timeBook"/>-->
		<!--</property>-->
		<!--<property name="interceptorNames">-->
			<!--<list>-->
				<!--<value>logAdvisor</value>-->
			<!--</list>-->
		<!--</property>-->
	<!--</bean>-->

	<bean id="exceptionHandler" class="com.ssm.action.ExceptionHandler"/>

	<!--<bean id="HelloWorld" class="com.ssm.entity.HelloWorld">-->
	<!--<constructor-arg name="msg" value="HelloWorld1" />-->
	<!--<property name="msg" value="HelloWorld2" />-->
	<!--<property name="date" ref="date" />-->
	<!--</bean>-->

	<!--<import resource="Spring-bean-transcation.xml" />-->

</beans>