<?xml version='1.0' encoding='UTF-8'?>
<!--
  ~ Copyright (c) 2018.
  ~ author: baitao
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="emailService" class="com.ssm.bean.EmailService">
		<property name="blackList">
			<list>
				<value>123</value>
				<value>123</value>
				<value>123</value>
			</list>
		</property>
	</bean>

	<bean id="blackListNotifier" class="com.ssm.bean.BlackListNotifier">
		<property name="notificationAddress" value="test"/>
	</bean>


</beans>